* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryGold500: hsl(31, 77%, 52%);
  --primaryCyan800: hsl(184, 100%, 22%);
  --primaryGreen900: hsl(179, 100%, 13%);
  --gray100: hsl(0, 0%, 95%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1 {
  color: var(--gray100);
  font-family: "Big Shoulders", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  max-width: 900px;
  height: auto;
}

.sedans {
  background-color: var(--primaryGold500);
  border-radius: 12px 0 0 12px;
}

.suvs {
  background-color: var(--primaryCyan800);
}

.luxury {
  background-color: var(--primaryGreen900);
  border-radius: 0 12px 12px 0;
}

.sedans,
.suvs,
.luxury {
  padding: 32px;
  flex: 1;
}

.card-text h1 {
  margin: 24px 0;
}

.card-text p {
  color: var(--paragraphs);
}

.card-button {
  display: flex;
  height: 40px;
  margin-top: 56px;
}
.card-button button {
  padding: 6px 12px;
  border-radius: 20px;
  width: 125px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.sedans .card-button button {
  color: var(--primaryGold500);
}

.suvs .card-button button {
  color: var(--primaryCyan800);
}

.luxury .card-button button {
  color: var(--primaryGreen900);
}
