* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  max-width: 900px;
  height: auto;
  border: 1px solid black;
  background-color: blueviolet;
  border-radius: 8px;
}

.sedans,
.suvs,
.luxury {
  padding: 32px;
  flex: 1;
}

.card-button {
  display: flex;
  height: 48px;
}
.card-button button {
  padding: 6px 12px;
  border-radius: 20px;
  width: 125px;
  background-color: white;
  border: 0;
}
